---
const { logo, title } = Astro.props;
console.log(logo);
---

<div class="w-[600px] flex flex-col justify-center">
  <div class="flex justify-center">
    <img src=`/images/logos/${logo}` class="w-[250px]" />
  </div>
  <div class="text-white text-2xl lg:text-5xl text-center mt-5 wrap">
    {title}
  </div>
</div>
