---
import Layout from "../layouts/Layout.astro";
import Header from "../sections/header.astro";
import Destacados from "../sections/destacados.astro";
import Hero from "../sections/hero.astro";
import Nosotros from "../sections/nosotros.astro";
import Catalogo from "../sections/catalogo.astro";
import Frases from "../sections/frases.astro";
---

<style is:global></style>

<Layout title="Portafolio ABAE.">
  <main>
    <div class="w-screen">
      <Hero />
      <Header />
      <Nosotros />
      <Destacados />
      <Catalogo />
      <Frases />
    </div>
  </main>
</Layout>
