---
import NavButtom from "../components/NavButtom.astro";
---

<div
  class="h-16 w-full flex justify-center items-center gap-14 bg-gradient-to-b from-neutral-100 to-neutral-100"
>
  <NavButtom titulo="Inicio" />
  <NavButtom titulo="Nosotros" />
  <NavButtom titulo="Destacados" />
  <NavButtom titulo="Catálogo" />
  <!-- <NavButtom titulo="Contáctanos" /> -->
</div>

<style></style>
