---
const {titulo, autor} = Astro.props;
---

<div class="swiper-slide w-full h-full grid place-content-center">
    <div class=" w-full h-full grid place-content-center">
        <div class="px-72">
        <div class="text-5xl text-white text-left">{ titulo }</div>
        <div class="text-3xl font-semibold mt-5 text-gray-400 text-left">{autor}</div>
        </div>
    </div>
</div>
