---
import Navbar from "../components/NavBar.astro";
---

<div class="sticky">
    <Navbar />
</div>

<style>
    .sticky{
        position: sticky;
        top: 0;
        z-index: 999999;
    }
</style>